<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e58781e6-1114-43ea-ba2e-1671d7aad932/resourceGroups/HRMS/providers/Microsoft.ContainerRegistry/registries/hrmscotainer</ResourceId>
    <ResourceName>hrmscotainer</ResourceName>
    <ResourceGroup>HRMS</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://hrmscotainer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>96c69acd-3a0b-4b05-91af-046a5b29fb9a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>